.prebuiltPromptContainer {
  position: absolute;
  top: 130px;
  left: 0;
  width: 100%;
}
.prebuiltPromptContainerMainDiv {
  width: 90%;
}
.prebuiltPromptContainerSecondDiv {
  width: 10%;
}
.prebuiltPromptButton {
  margin: 0 12px;
}

.prebuiltDownloadButton {
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  color: #626262;
}